/* Fondo general */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: black;
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255);
}

/* Fondo canvas */
#binaryRain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Contenedor de la carta */
.container {
    position: relative;
    z-index: 1;
    background: rgba(41, 39, 39, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.reveal-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reveal-button:hover {
    background-color: #0056b3;
}

.surprise-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.surprise-link:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    color: #e2d0d0;
    font-size: 0.9rem;
}
